<ion-view view-title="Check in/out">
  <ion-content>
    <h1>Check in/out</h1>

    <div class="row">	
    	<div class="col">
	    	<div class="item item-avatar">
		    	<img src="{{student.profil_pic}}">
		    	<h2>{{student.firstname}} {{student.lastname}}</h2>
		    	<p>{{student.login}}</p>
		  	</div>
    	</div>
    </div>

    <div class="row">
    	<div class="col">
             <button ng-click="setTime()" class="button button-block button-calm">
              Heure
            </button>   
        </div>
    </div>

    <div class="row">
        <div class="col">
             <ion-checkbox ng-model="backToHome.isChecked">retourner au menu apres ca</ion-checkbox>
        </div>
    </div>

    <div class="row">
    	<div class="col-50">
    		<button ng-click="check('in')" class="button button-block button-balanced">
			  Arriv&eacute;e
			</button>
    	</div>
    	<div class="col-50">
    		<button ng-click="check('out')" class="button button-block button-assertive">
			  Depart
			</button>
    	</div>
    </div>
    
  </ion-content>
</ion-view>
