<ion-view view-title="Home">
  <ion-content>

  suivez ce 
  <a href="#" ng-click="external_link('https://gist.github.com/anonymous/2fffb6c4ed0f8a74d6503da12b60e2dd')">lien</a>
  pour consulter la documentation utilisateur
  </ion-content>
</ion-view>
