<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="login()">
      <div class="list">
        <label class="item item-input">
            <input type="text" placeholder="Email" ng-model="user.email">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="user.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>

    <div class="list card" ng-repeat="(key, error) in errors" >
      
      <a href="#" class="item">
        {{error}}  
      </a>

    </div>

  </ion-content>
</ion-modal-view>
