<ion-view view-title="pointage manuel">

<ion-nav-buttons side="primary">
  <button class="button" ng-click="toggle_multicheck()">
  multi-check
  </button>
</ion-nav-buttons>

  <ion-content>
 
	<div class="list list-inset">
	    <label class="item item-input">
	      <i class="icon ion-search placeholder-icon"></i>
	      <input type="text" ng-model="search" placeholder="Search">
	    </label>
	  </div>
	    <ion-list>
	      <ion-item class="item item-thumbnail-left item-checkbox" ng-repeat="student in students | filter:search | orderBy: 'lastname'" ng-click="select(student, referer)">			
			<img src="{{ student.profil_pic }}">
			<h2>{{student.firstname}} {{student.lastname}}</h2>
			<p>{{student.login}}</p>
			<p>Samsung {{student.promotion}}</p>
	      </ion-item>
	    </ion-list>
  </ion-content>
</ion-view>
