<div class="list list-inset">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" ng-model="search" placeholder="Search">
    </label>
  </div>

    <ion-list>
      <ion-item class="item item-thumbnail-left" ng-repeat="student in students | filter:search | orderBy: 'lastname'" ng-click="assign(student.id)">
	      <img src="{{ student.profil_pic }}">
	      <h2>{{student.firstname}} {{student.lastname}}</h2>
	      <p>{{student.login}}</p>
	      <p>Samsung {{student.promotion}}</p>
      </ion-item>
    </ion-list>